body {
    background-color: beige;
}
header {
    text-align: center;
    margin-bottom: 100 px;
}
nav {
    text-align: center;
    font-size: 100 px;
}
nav div {
    display: inline-block;
    border-style: solid;
    border-radius: 100 px;
}

section {
    display: flex;
}

article {
    flex: 1;
    text-align: center;
}
footer {
    text-align: center;
}
